@import "tailwindcss";

body {
  background: radial-gradient(circle at 20% 20%, #0a2a43, #000814 60%) !important;
  @apply text-gray-100 min-h-screen font-sans;
}


/* Navbar */
.navbar {
  @apply bg-gray-800 text-white py-3 px-6 flex justify-between items-center shadow-md;
}

.navbar h1 {
  @apply text-lg font-semibold;
}

.navbar a {
  @apply text-sm hover:text-indigo-400 transition;
}

/* Kontainer utama */
.container {
  @apply p-8;
}

/* Card dashboard */
.card {
  @apply bg-gray-800 p-6 rounded-xl shadow-lg hover:shadow-2xl transition duration-300;
}

.card h2 {
  @apply text-xl font-bold mb-2 text-indigo-400;
}

.card p {
  @apply text-gray-300 text-sm;
}
